{% extends request.ajax ? "layout_blank.html.twig" : "layout_default.html.twig" %}

{% import "macro_functions.html.twig" as mf %}

{% block meta_title %}{{ 'Pterodactyl Module Settings' | trans }}{% endblock %}

{% set active_menu = 'system' %}

{% block breadcrumbs %}

<ul>
    <li class="firstB"><a href="{{ '/' | alink }}">{{ 'Home' | trans }}</a></li>
    <li><a href="{{ 'system' | alink }}">{{ 'Settings' | trans }}</a></li>
    <li class="lastB">{{ 'Pterodactyl Module Settings' | trans }}</li>
</ul>

{% endblock %}

{% block content %}

<div class="widget">
    <div class="head">
        <h5 class="iCog">{{ 'Pterodactyl Module Settings' | trans }}</h5>
    </div>
	
  {% set params = admin.extension_config_get({"ext":"mod_pterodactyl"}) %}

  <form method="post" action="{{ 'api/admin/extension/config_save' | link }}" class="mainForm api-form" data-api-msg="{{ 'Configuration updated' | trans }}">
  	<input type="hidden" name="CSRFToken" value="{{ CSRFToken }}"/>

      <div class="help">
          <h3>{{ 'Pterodactyl Module Settings' | trans }}</h3>
          <p>{{ 'There are a couple of things you need to specify before you can sell servers' | trans }}</p>
      </div>

      <fieldset>
          <div class="rowElem noborder">
              <label>{{ 'API Key' | trans }}</label>
              <div class="formRight">
                  <input type="text" name="api_key" value="{{params.api_key}}" placeholder="{{ 'API Key' | trans }}"/>
              </div>
              <div class="fix"></div>
          </div>

          <div class="rowElem noborder">
              <label>{{ 'Panel Base URL' | trans }}</label>
              <div class="formRight">
                  <input type="text" name="panel_url" value="{{params.panel_url}}" placeholder="{{ 'https://panel.example.com' | trans }}"/>
              </div>
              <div class="fix"></div>
          </div>

          <input type="submit" value="{{ 'Update' | trans }}" class="greyishBtn submitForm" />
          <input type="hidden" name="ext" value="mod_pterodactyl" />
      </fieldset>
  </form>
</div>

{% endblock %}
